/* typography é o jeito que o texto é apresentado */
/* padding colocou tudo no centro da pag */

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@700&family=Roboto:wght@100;500&display=swap');

body {
    padding: 10%;
    /* font-size: 2rem; */
    font-family: "Roboto", sans-serif;


}

/* input, button {
    font: inherit;
} */

p {
    text-indent: 2em;
    /* text-transform: capitalize; */
    /* text-transform: lowercase; */
    /* text-decoration: underline; */
    text-decoration: none;
    /* text-decoration: line-through; */
   /* text-decoration: overline; */
   text-align: justify;
   line-height: 1.5;  
   /* letter-spacing: 1em; separa as letras */
   /* letter-spacing: 0.1em; */
   /* word-spacing: 0.1em; separa as palavras */
   /* font-weight: bolder; */
   /* font-style: italic; */
   /* font-style: oblique; italico mais escuro */


}

