@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

/*reset*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    }
    
    input,
    button,
    textarea {
        font: inherit;
        }
        
        /* || VARIABLES */
        
        :root {
            /* FONTES */
            --FF: "Nunito", sans-serif;
            --FF-HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    /* CORES */
    --BGCOLOR-FADE: rgb(252, 220, 160);
    --BGCOLOR: orange;    
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));    
    --BODY-BGCOLOR: #FFF;
    --BORDER-COLOR: #333;
    
    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);
    --BORDER-RADIUS: 15px;
    
    /* STANDARD PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;
    
    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
    }
    
    @media (prefers-color-scheme: dark) {
   :root {
       --BGCOLOR-FADE: gray;
       --BGCOLOR: #000;
       --BODY-BGCOLOR: #333;
       --BORDER-COLOR: whitesmoke;
       --BUTTON-COLOR: #000;
       --FONT-COLOR: whitesmoke;
       --HEADER-COLOR: whitesmoke;
       --HERO-COLOR: #333;
       --HIGHLIGHT-COLOR: whitesmoke;
       --LINK-ACTIVE: rgb(252, 200, 103);
       --LINK-COLOR: whitesmoke;
       --LINK-HOVER: orange;
       --NAV-BGCOLOR: rgb(20, 20, 20);
   }
}


/*utility classes*/
.offscreen{
position: absolute;
left: -10000px;
}
       
.nowrap{
white-space: nowrap;
}
       
.center{
text-align: center;
}

/*general styles*/

html{
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body{
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
}

h1,
h2,
h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
}