@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@100;500&display=swap');

/* Begin Reset */

body {
    font-family: "Nunito",sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    /* background-image: linear-gradient(steelblue,#fff);
    background-image: url("img/bubbles.png"), linear-gradient(to left, steelblue,#fff);
    background-repeat: repeat-y,no-repeat;
    background-position: right center;   
    background-size: 20%, auto; */
    background: repeat-y right center url("img/bubbles.png"), no-repeat linear-gradient(to left, steelblue,#fff);
    background-size: 20%, auto;
    
}

.clip{
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url("img/fruits.jpg");
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: transparent


}